<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moduloscoredir.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>moduloscoredir.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ModulosCoreDIR</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ModulosCoreDIR</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PlantacionSchema" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PlantacionSchema_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataAccess.PlantacionSchema.csdl|res://*/DataAccess.PlantacionSchema.ssdl|res://*/DataAccess.PlantacionSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InventarioSchema" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=SERFOR-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InventarioSchema_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataAccess.InventarioSchema.csdl|res://*/DataAccess.InventarioSchema.ssdl|res://*/DataAccess.InventarioSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:serfor.database.windows.net,1433;initial catalog=SERFOR-DIR;persist security info=False;user id=administrador;Password=Pa55w0rd;multipleactiveresultsets=False;Encrypt=True;TrustServerCertificate=False;connect timeout=30;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SecuritySchema" Order="9" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SecuritySchema_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataAccess.SecuritySchema.csdl|res://*/DataAccess.SecuritySchema.ssdl|res://*/DataAccess.SecuritySchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GeneralSchema" Order="10" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GeneralSchema_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataAccess.GeneralSchema.csdl|res://*/DataAccess.GeneralSchema.ssdl|res://*/DataAccess.GeneralSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ExcelsSchema" Order="11" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=SERFOR-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExcelsSchema_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataAccess.ListasExcelSchema.csdl|res://*/DataAccess.ListasExcelSchema.ssdl|res://*/DataAccess.ListasExcelSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:serfor.database.windows.net,1433;Initial Catalog=SERFOR-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InventarioSchema-Web.config Connection String" />
    <MSDeployParameterValue Include="ExcelsSchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.ListasExcelSchema.csdl|res://*/DataAccess.ListasExcelSchema.ssdl|res://*/DataAccess.ListasExcelSchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GeneralSchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.GeneralSchema.csdl|res://*/DataAccess.GeneralSchema.ssdl|res://*/DataAccess.GeneralSchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PlantacionSchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.PlantacionSchema.csdl|res://*/DataAccess.PlantacionSchema.ssdl|res://*/DataAccess.PlantacionSchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SecuritySchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.SecuritySchema.csdl|res://*/DataAccess.SecuritySchema.ssdl|res://*/DataAccess.SecuritySchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=PROD-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>