<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rnp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>rnp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rnp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$rnp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GeneralSchema" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SERFOR.Component.GeneralCore.DataAccess.GeneralSchema, SERFOR.Component.GeneralCore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="InventarioSchema" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SERFOR.Component.InventarioCore.DataAccess.InventarioSchema, SERFOR.Component.InventarioCore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExcelsSchema" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SERFOR.Component.ListasExcelCore.DataAccess.ExcelsSchema, SERFOR.Component.ListasExcelCore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PlantacionSchema" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SERFOR.Component.PlantacionCore.DataAccess.PlantacionSchema, SERFOR.Component.PlantacionCore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SecuritySchema" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SERFOR.Component.SeguridadCore.DataAccess.SecuritySchema, SERFOR.Component.SeguridadCore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SecuritySchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.SecuritySchema.csdl|res://*/DataAccess.SecuritySchema.ssdl|res://*/DataAccess.SecuritySchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PlantacionSchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.PlantacionSchema.csdl|res://*/DataAccess.PlantacionSchema.ssdl|res://*/DataAccess.PlantacionSchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExcelsSchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.ListasExcelSchema.csdl|res://*/DataAccess.ListasExcelSchema.ssdl|res://*/DataAccess.ListasExcelSchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InventarioSchema-Web.config Connection String" />
    <MSDeployParameterValue Include="GeneralSchema-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.GeneralSchema.csdl|res://*/DataAccess.GeneralSchema.ssdl|res://*/DataAccess.GeneralSchema.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:serfor.database.windows.net,1433;Initial Catalog=CALI-DIR;Persist Security Info=False;User ID=administrador;Password=Pa55w0rd;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>